<h1>Connection between Amazon Alexa and Trello via Krello service</h1>

<% status =  current_user.is_trello_connected? ? "Connected" : "Not Connected"  %>

<p>Trello account Status: <%= status %></p>

<% if status == "Connected" %>
    <form action="<%=syncs_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="form_authenticity_token">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Revoke">
    </form>
<% else %>
  <%# <a href="https://trello.com/1/authorize?return_url=http://localhost:3000/syncs/new&expiration=1day&name=Krello+Service&scope=read,write,account&response_type=token&key=a44bb9a7912d7d9dd893ee8801fa9255">Authorize Trello</a> %>
  <a href="https://trello.com/1/authorize?return_url=https://krello-service.herokuapp.com/syncs/new&expiration=1day&name=Krello+Service&scope=read,write,account&response_type=token&key=a44bb9a7912d7d9dd893ee8801fa9255">Authorize Trello</a>
<% end %>
