<div>
	<form id="trello_token_form" name="trello_token_form" action="<%= syncs_url %>" method="POST">

     <input type="hidden" name="authenticity_token" value="form_authenticity_token">

     <label for="trello_token">Trello Token: </label>
	   <input type="password" name="trello_token" id="trello_token" value="">

     <input id="submit_trello_token" type="submit" value="submit">
	</form>
</div>

<script language="javascript" type="text/javascript">

  var token = window.location.hash;
  token = token.slice(7);
  document.forms[1].trello_token.value = token;
  <%# document.forms["trello_token_form"].submit(); %>
</script>


<%# nil %>
