
<style>
  html {
          background: #007ac0;
          color: white;
}

  p {
    text-align: center;
  }
</style>


<h1>Welcome to the Krello Web Service</h1>

<p>Krello will help you operate your trello board through amazon alexa voice commands. It'll be awesom!</p>

<a href=" <%= new_session_url %>">Log In</a>
<a href=" <%= new_user_url %>">Sign Up</a>
